{
  "plugins": [
    ["babel-plugin-styled-components", {
      "displayName": true
    }],
    "transform-class-properties",
    "transform-export-extensions",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-optional-chaining",
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ],
  "presets": [
    [
      "react-app",
      {
        "flow": false
      }
    ],
    "@babel/typescript"
  ]
}
