{
  "env": {
    "test": {
      "presets": [
        "@babel/env"
      ],
      "plugins": [
        "babel-plugin-dynamic-import-node"
      ]
    }
  },
  "presets": [
    "@babel/typescript",
    ["@babel/env", {
      "modules": false,
      "useBuiltIns": "entry"
    }],
    "@babel/react"
  ],
  "plugins": [
    ["babel-plugin-styled-components", {
      "displayName": true
    }],
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/proposal-decorators", {
      "legacy": true
    }],
    "@babel/proposal-class-properties",
    "@babel/transform-runtime"
  ]
}